/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
# !vendor/laravel/
# vendor/laravel/*
# !vendor/laravel/framework/
# vendor/laravel/framework/*
# !vendor/laravel/framework/src/
# vendor/laravel/framework/src/*
# !vendor/laravel/framework/src/Illuminate/
# vendor/laravel/framework/src/Illuminate/*
# !vendor/laravel/framework/src/Illuminate/Auth/

.env
.env.backup
.env.dev
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.global.yml
