/node_modules
/public/hot
/public/storage
!/public/img
/storage/*.key
/vendor
/storage/framework/views
/storage/framework/sessions
/tests/PerfTests/results

/.env*
/.env.*
/.env.*.*
!/.env.dusk.git
.aws
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.global.yml
