files:
  "/tmp/install_composer.sh" :
    mode:                "000755"
    owner:               root
    group:               root
    content:             |
      #! /bin/bash
      curl -sS https://getcomposer.org/installer | php
      mv composer.phar /usr/local/bin/composer
      ln -f /usr/local/bin/composer /usr/bin/composer

  "/tmp/config_laravel.sh" :
    mode:                "000755"
    owner:               root
    group:               root
    content:             |
      #! /bin/bash
      chown -R ec2-user /var/app/current/
      cd /var/app/current/
      composer install -q --no-ansi --no-interaction --no-scripts --prefer-dist
      cp .env.aws .env
      chmod -R 0777 storage
      chmod 777 storage/framework/cache

  "/tmp/prepare_db.sh" :
    mode:                "000755"
    owner:               root
    group:               root
    content:             |
      #! /bin/bash
      cd /var/app/current/
      php artisan migrate
      php artisan key:generate
      php artisan db:seed --class=TestDatabaseSeeder

commands:
  01_install_composer:
    command:             "sh /tmp/install_composer.sh"
    ignoreErrors:        false
  02_config_laravel_env:
    command:             "sh /tmp/config_laravel.sh"
    ignoreErrors:        false
  03_prepare_db:
    command:             "sh /tmp/prepare_db.sh"
    ignoreErrors:        false
